h4 {
  margin: 12px 0;
}

.level-up-table {
  border-collapse: collapse;
  width: 80%;

  td {
    border: 1px solid grey;
    padding: 8px;
  }

  td:last-child {
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}