<div class="ui-view town">
  <h1>Town</h1>
  <div class="town-stats">
    <img class="town-icon" src="/assets/img/icons/skull.png"><span>{{ player.kills }}</span>
    <img class="town-icon" src="/assets/img/icons/gold.png"><span>{{ player.gold }}</span>  
  </div>
  <div class="town-controls centered">
    <button class="btn btn-large" type="button" (click)="proceed('arena')">Battle
      <img class="town-btn-icon" src="/assets/img/icons/battle.png" alt="Crossed swords icon">
    </button>
    <button class="btn btn-large" type="button" (click)="proceed('store')">Store
      <img class="town-btn-icon" src="/assets/img/icons/store.png" alt="Store icon">
    </button>
    <button class="btn btn-large" type="button" (click)="proceed('healer')">Healer
      <img class="town-btn-icon" src="/assets/img/icons/cross.png" alt="Cross icon">
    </button>
    <button class="btn btn-large" type="button" (click)="proceed('level-up')">Level Up
      <img class="town-btn-icon" src="/assets/img/icons/levelup.png" alt="Up arrow icon">
    </button>
  </div>
</div>