.town {
	background-image: url('/assets/img/backgrounds/town.jpg');
	background-position: center;
  background-size: cover;
  border-radius: 20px;

  .town-stats {
    text-align: center;

    .town-icon {
      width: 25px;
    }  
  }

  .town-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;

    .town-btn-icon {
      max-width: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.4;
    }
  }
}