.town {
	background-image: url('/assets/img/backgrounds/town.jpg');
	background-position: center;
  background-size: cover;
  border-radius: 20px;

  .town-stats {
    text-align: center;

    .town-icon {
      width: 25px;
    }  
  }

  .town-controls {
    display: flex;
    align-items: center;

    .town-btn-icon {
      max-width: 25px;
    }
  }
}