<div class="ui-view arena">
  <h1>Arena</h1>
  <div class="arena-controls">
    <button *ngFor="let ability of player.abilities" class="btn btn-arena" type="button" [disabled]="battleState !== 'waiting' || ability.uses < 1" (click)="startTurn(ability)">
      <p>{{ ability.name }}</p>
      <p>{{ ability.description }}</p>
      <p *ngIf="ability.maxUses">Uses: {{ ability.uses }}</p>
      <p *ngIf="!ability.maxUses">Uses: Unlimited</p>
      <img class="arena-btn-icon" [ngClass]="{'disabled': battleState !== 'waiting' || ability.uses < 1}" src="/assets/img/icons/weapon.png" alt="Crossed swords icon">
    </button>
  </div>
  <button class="btn btn-home" type="button" [disabled]="battleState !== 'victory'" (click)="proceed()">
    <img class="arena-btn-icon" [ngClass]="{'disabled': battleState !== 'victory'}" src="/assets/img/icons/home.png" alt="Crossed swords icon">
  </button>
  <div class="log-container">
    <p *ngFor="let log of combatLog">{{ log }}</p>
  </div>
</div>