.arena {
	background-image: url('../../../../assets/img/backgrounds/arena.jpg');
	background-position: center;
  background-size: cover;
  border-radius: 20px;

  .arena-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;

    .btn-arena {
      width: 45%;
    }
  }

  .btn-home {
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 60px;
  }

  .arena-btn-icon {
    max-width: 25px;
  }

  .disabled {
    opacity: 0.4;
  }

  .log-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20%;
    width: 60%;
    min-width: 400px;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border-top: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    background-color: white;
    overflow: auto;
  }

  p:first-child {
    font-weight: 700;
  }
}

@media screen and (max-height: 840px) {
  .log-container {

    p {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-height: 700px) {
  .arena {
  
    .arena-controls {
  
      p:nth-child(2) {
        display: none;
      }
    }
  }
}