<div class="ui-view arena">
  <h1>Arena</h1>
  <div class="centered">
    <button class="btn btn-large" type="button" (click)="proceed()">Attack
      <img class="arena-btn-icon" src="/assets/img/icons/sword.png" alt="Crossed swords icon">
    </button>
    <button class="btn btn-large" type="button" (click)="proceed()">Spell
      <img class="arena-btn-icon" src="/assets/img/icons/wand.png" alt="Crossed swords icon">
    </button>
    <button class="btn btn-large" type="button" (click)="proceed()">Home
      <img class="arena-btn-icon" src="/assets/img/icons/home.png" alt="Crossed swords icon">
    </button>
  </div>
  <div class="log-container">
    <div></div>
  </div>
</div>