<div class="ui-view">
    <h1>Healer</h1>
  
    <div class="ui-view-content">
      <p class="healer-log">{{ healerLog }}</p>
      <div class="healer-stats">
        <img class="healer-icon" src="assets/img/icons/gold.png"><span>{{ player.gold }}</span>	
      </div>
      <div class="centered">
        <button class="btn" type="button" (click)="buyService(service.price, service.value)" *ngFor="let service of services">
          <h4>{{ service.name }}</h4>
          <p>Price: {{ service.price }}</p>
        </button>
      </div>
    </div>
  
    <div class="ui-view-controls">
      <button class="btn" type="button" (click)="back()">&#x2B05;</button>
      <button class="btn" type="button" disabled>&#x27A1;</button>
    </div>
  </div>
  