<div class="ui-view">
  <h1>Who Are You?</h1>

  <form #characterForm="ngForm" id="character-create" class="ui-view-content" (ngSubmit)="createPlayer()">
    <div class="name-select">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name">
    </div>

    <div class="portrait-select">

    </div>

    <div class="class-select">

    </div>
  </form>

  <div class="ui-view-controls">
    <button disabled>&#x2B05;</button>
    <button type="submit" form="character-create">&#x27A1;</button>
  </div>
</div>



