@import '~src/variables';

.name-select,
.character-details {
  margin: 12px 0;
}

.name-select {

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.5s;
    outline: none;
  }

  input:focus {
    border-color: $primary-color;
  }
}

.character-details {
  display: flex;

  .portrait-select,
  .class-select {
    margin: 0 12px;

    h2 {
      margin: 8px 0;
      text-align: center;
    }

    .portrait-container,
    .class-container {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .portrait,
      .class {
        overflow: hidden;
        margin: 0 8px;
      }
    
      button {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 1em;
        border-radius: 50%;
        color: white;
        background-color: $secondary-color;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  h2 {
    font-size: 1.2em;
  }

  .portrait,
  .class {
    height: 200px;
    width: 150px;
  }
}

@media screen and (min-width: 1251px) {
  .portrait,
  .class {
    height: 260px;
    width: 200px;
  }
}

.class {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 8px #757575;
  padding: 12px;

  .class-icon {
    width: 50%;
  }

  p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1250px) {
  .class {
    p {
      font-size: 0.7em;
    }
  }
}
