<div class="ui-view" *ngIf="portraits && classes">
  <h1>Who Are You?</h1>

  <form #characterForm="ngForm" id="character-create" class="ui-view-content" (ngSubmit)="createPlayer()">
    <div class="name-select">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" [(ngModel)]="nameInput" required>
    </div>

    <div class="character-details">
      <div class="portrait-select">
        <h2>Select a Portrait</h2>
        <div class="portrait-container">
          <button type="button" (click)="changeSelection(portraits, portraits.indexOf(portraitInput) - 1)">&#8592;</button>
          <figure class="portrait">
            <img src="/assets/img/portraits/{{ portraitInput }}" alt="A character portrait">
          </figure>
          <button type="button" (click)="changeSelection(portraits, portraits.indexOf(portraitInput) + 1)">&#8594;</button>
        </div>
      </div>
  
      <div class="class-select">
        <h2>Select a Class</h2>
        <div class="class-container">
          <button type="button" (click)="changeSelection(classes, classes.indexOf(classInput) - 1)">&#8592;</button>
          <div class="class">
            <h3>{{ classInput.name }}</h3>
            <img class="class-icon" src="/assets/img/classes/{{ classInput.image }}" alt="A character portrait">
            <p>{{ classInput.description }}</p>
          </div>
          <button type="button" (click)="changeSelection(classes, classes.indexOf(classInput) + 1)">&#8594;</button>
        </div>
      </div>
    </div>
  </form>

  <div class="ui-view-controls">
    <button disabled>&#x2B05;</button>
    <button type="submit" form="character-create" [disabled]="!characterForm.form.valid">&#x27A1;</button>
  </div>
</div>



