.name-select,
.character-details {
  margin: 12px 0;
}

.character-details {
  display: flex;

  .portrait-select,
  .class-select {
    margin: 0 12px;

    h2 {
      margin: 8px 0;
      text-align: center;
    }

    .portrait-container,
    .class-container {
      display: flex;
      justify-content: center;
      
      .portrait,
      .class {
        overflow: hidden;
        height: 260px;
        width: 200px;
        margin: 0 8px;
      }
    
      button {
        font-size: 2em;
      }
    }
  }
}

.class {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 8px #757575;
  padding: 12px;

  .class-icon {
    width: 100px;
  }
}
