@import '~src/variables';

.controls {
  display: flex;
  margin: 12px 0;

  h4 {
    margin-right: 10px;
  }
}

.reroll-table {
  border-collapse: collapse;
  width: 80%;

  td {
    border: 1px solid grey;
    padding: 8px;
  }

  td:last-child {
    font-weight: 700;
    text-align: center;
    color: $primary-color;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}