@import '~src/variables';

.controls {
  display: flex;
  margin: 12px 0;

  h4 {
    margin-right: 10px;
  }
}

.reroll-table {
  width: 80%;

  p {
    font-size: 0.9em;
  }

  td:last-child {
    font-weight: 700;
    text-align: center;
    color: $primary-color;
  }
}

@media screen and (max-height: 840px) {
  .reroll-table {
    p {
      font-size: 0.8em;
    }
  }
}