<div class="ui-view">
  <h1>Roll For Your Stats</h1>

  <form #statsForm="ngForm" id="roll-stats" class="ui-view-content" (ngSubmit)="rollStats()">
    <div class="controls">
      <h4>Rerolls: {{ player.rerolls }}</h4>
      <button type="submit">Reroll</button>
    </div>

    <table class="reroll-table">
      <tbody>
        <tr *ngFor="let stat of keys(player.stats)">
          <td>{{ player.stats[stat].name }}</td>
          <td>{{ player.stats[stat].value }}</td>
        </tr>
      </tbody>
    </table>
  </form>

  <div class="ui-view-controls">
    <button disabled>&#x2B05;</button>
    <button type="button" (click)="proceed()">&#x27A1;</button>
  </div>
</div>