<div class="entity-view" *ngIf="player">
  <span class="level-up" *ngIf="player.skillPoints > 0">&#8593;</span>
  <div class="player-view-content">
    <h2>{{ player.name }}</h2>
    <div class="health-bar">
      <div class="health" [style.width.%]="(player.currentHealth / player.maxHealth()) * 100">
        <h4>{{ player.currentHealth }} / {{ player.maxHealth() }}</h4>
      </div>
    </div>
    <figure class="portrait-container">
      <img class="player-portrait" src="/assets/img/portraits/{{ player.portrait }}">
    </figure>
    <h3>Level {{ player.level }} {{ player.cl.name }}</h3>
    <table class="stats-table">
      <tbody>
        <tr *ngFor="let stat of keys(player.getStats('main'))">
          <td>
            <span class="full">{{ player.stats[stat].name }}</span>
            <span class="part">{{ player.stats[stat].name.slice(0, 3).toUpperCase() }}</span>
          </td>
          <td>{{ player.stats[stat].value }}</td>
          <td>
            <span *ngIf="player.stats[stat].modifier > 0">+</span>
            <span *ngIf="player.stats[stat].modifier">{{ player.stats[stat].modifier }}</span>
          </td>
          <td>
            <span *ngIf="player.stats[stat].battle > 0">+</span>
            <span *ngIf="player.stats[stat].battle">{{ player.stats[stat].battle }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="add-stats">
      <div class="add-stat">
        <p class="tooltip">Armour</p>
        <img class="player-stat-icon" src="/assets/img/icons/armour.png">
        <span>{{ player.stats.armour.total }}</span>
      </div>
      <div class="add-stat">
        <p class="tooltip">Magic Resistance</p>
        <img class="player-stat-icon" src="/assets/img/icons/magicResistance.png">
        <span>{{ player.stats.magicResistance.total }}</span>
      </div>
      <div class="add-stat">
        <p class="tooltip">Critical Strike Chance</p>
        <img class="player-stat-icon" src="/assets/img/icons/crit-chance.png">
        <span>{{ player.critChance() }}%</span>
      </div>
    </div>
  </div>
</div>
