<div class="entity-view" *ngIf="player">
  <!-- <i class="fa fa-arrow-circle-up levelup-icon" aria-hidden="true" data-bind="visible: skillPoints() > 0"></i> -->
  <div class="player-view-content">
    <h2>{{ player.name }}</h2>
    <h3>Level {{ player.level }} {{ player.cl.name }}</h3>
    <figure class="portrait-container">
      <img class="player-portrait" src="/assets/img/portraits/{{ player.portrait }}">
    </figure>
    <h4>{{ player.currentHealth }} / {{ player.maxHealth() }}</h4>
    <table class="stats-table">
      <tbody>
        <tr *ngFor="let stat of player.stats | keyvalue">
          <td>{{ stat.value.name }}</td>
          <td>{{ stat.value.value }} <span *ngIf="stat.value.modifier"> + {{ stat.value.modifier }}</span></td>
        </tr>
      </tbody>
    </table>
    <div class="add-stats">
      <div class="add-stat">
        <p>Armour</p>
        <img class="player-stat-icon" src="/assets/img/icons/armour.png">
        <span>{{ player.armour }}</span>
      </div>
      <div class="add-stat">
        <p>Magic Resistance</p>
        <img class="player-stat-icon" src="/assets/img/icons/magic-resistance.png">
        <span>{{ player.magicResistance }}</span>
      </div>
      <div class="add-stat">
        <p>Critical Strike Chance</p>
        <img class="player-stat-icon" src="/assets/img/icons/crit-chance.png">
        <span>{{ player.critChance() }}%</span>
      </div>
    </div>
  </div>
</div>
