@import '~src/variables';

.level-up {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 16px;
}

.player-view-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .portrait-container {
    width: 80%;
    max-width: 182px;
    margin: 8px 0;
  }

  .health-bar {
    position: relative;
    padding: 2px;
    height: 30px;
    width: 80%;
    background-color: #212121;

    .health {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to right, green, darkgreen);
      transition: width 0.4s;
    }

    h4 {
      font-weight: 400;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .stats-table {
    width: 80%;
    margin: 8px 0 12px;
  
    td {
      padding: 6px;
      font-size: 0.9em;
    }
  
    td:not(:first-child) {
      text-align: center;
      font-weight: 700;
      width: 40px;
    }

    td:nth-child(3) {
      color: $primary-color;
    }

    td:nth-child(4) {
      color: $secondary-color;
    }
  }
  
  .add-stats {
    display: flex;
    justify-content: space-between;
    width: 70%;
  
    .add-stat {
      position: relative;
  
      .player-stat-icon {
        max-width: 25px;
      }
    }
  
    .add-stat:hover .tooltip {
      display: block;
    }
  }
}

@media screen and (max-height: 840px) {
  .player-view-content {

    .portrait-container {
      max-width: 142px;
    }

    .stats-table {
      margin: 6px 0 10px;
  
      td {
        padding: 3px;
        font-size: 0.8em;
      }
    }

    .add-stats {
    
      .add-stat {
    
        .player-stat-icon {
          max-width: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .full {
    display: none;
  }
}

@media screen and (min-width: 1251px) {
  .part {
    display: none;
  }
}