.level-up {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 16px;
}

.player-view-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .portrait-container {
    width: 50%;
    margin: 8px 0;
  }

  .stats-table {
    border-collapse: collapse;
    width: 80%;
    margin: 8px 0 12px;
  
    td {
      border: 1px solid grey;
      padding: 6px;
      font-size: 0.9em;
    }
  
    td:not(:first-child) {
      text-align: center;
      width: 40px;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
  
  .add-stats {
    display: flex;
    justify-content: space-between;
    width: 70%;
  
    .add-stat {
      position: relative;
  
      p {
        position: absolute;
        top: -25px;
        left: 0;
        transform: translateX(-50%);
        width: max-content;
        display: none;
        background-color: white;
        border: 1px solid grey;
      }
  
      .player-stat-icon {
        max-width: 25px;
      }
    }
  
    .add-stat:hover p {
      display: block;
    }
  }
}