<div class="ui-view">
  <h1>{{ player.cl.trainer }}</h1>

  <div class="ui-view-content">
    <p class="trainer-log">{{ trainerLog }}</p>
    <div class="trainer-stats">
      <img class="trainer-icon" src="/assets/img/icons/gold.png"><span>{{ player.gold }}</span>	
    </div>
    <div class="ability-table-container">
      <table class="ability-table">
        <thead>
          <tr>
            <th (click)="sortAbilities('name')">Name</th>
            <th>Description</th>
            <th (click)="sortAbilities('maxUses')">Uses</th>
            <th (click)="sortAbilities('level')">Level</th>
            <th (click)="sortAbilities('price')">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="ability" *ngFor="let ability of abilities">
            <td>{{ ability.name }}</td>
            <td>
              <p *ngFor="let desc of ability.effectDescriptions">{{ desc }}</p>
            </td>
            <td>{{ ability.maxUses }}</td>
            <td>{{ ability.level }}</td>
            <td>{{ ability.price }}</td>
            <td><button class="btn" type="button" [disabled]="checkAbility(ability)" (click)="learnAbility(ability)">Learn</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ui-view-controls">
    <button class="btn" type="button" (click)="back()">&#x2B05;</button>
    <button class="btn" type="button" disabled>&#x27A1;</button>
  </div>
</div>
