<div class="ui-view">
  <h1>{{ player.cl.trainer }}</h1>

  <div class="ui-view-content">
    <p class="trainer-log">{{ trainerLog }}</p>
    <div class="trainer-stats">
      <img class="trainer-icon" src="/assets/img/icons/gold.png"><span>{{ player.gold }}</span>	
    </div>
    <div class="ability-table-container">
      <table class="ability-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Uses</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="ability" *ngFor="let ability of abilities">
            <td>{{ ability.name }}</td>
            <td>{{ ability.description }}</td>
            <td>{{ ability.maxUses }}</td>
            <td>{{ ability.price }}</td>
            <td><button type="button" [disabled]="player.abilities.indexOf(ability) > -1" (click)="learnAbility(ability)">Learn</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ui-view-controls">
    <button type="button" (click)="back()">&#x2B05;</button>
    <button type="button" disabled>&#x27A1;</button>
  </div>
</div>
