@import '~src/variables';

h1 {
	font-family: $cursive-font;
	font-size: 4em;
	text-align: center;
	margin-bottom: 25px;

	span {
		font-size: 2em;
    position: relative;
    top: 30px;
    left: 10px;
	}

	.underline {
		position: relative;
		bottom: 25px;
		background-color: $primary-color;
		height: 3px;
		width: 600px;
		margin: auto;
	}
}

@media screen and (max-width: 1250px), screen and (max-height: 840px) {
	h1 {
		font-size: 2em;

		span {
			top: 20px;
		}

		.underline {
			width: 300px;
			bottom: 15px;
		}
	}
}

.game-area {
	height: 600px;
	min-width: 1000px;
	max-width: 1536px;
	margin: auto;
  // width: 80%;
  display: flex;
	justify-content: space-around;
	align-items: center;
	perspective: 2000px;
}

p {
	font-size: 0.8em;
	text-align: center;
	margin: 40px 0;
}

@media screen and (max-height: 840px) {
	.game-area {
		height: 500px;
	}
}

@media screen and (max-height: 700px) {
	.game-area {
		height: 400px;
	}

	p {
		margin: 20px 0;
	}
}