<div class="entity-view">
  <div class="player-view-content">
    <h2>Inventory</h2>
    <table class="inventory-table" >
      <tbody>
        <tr *ngFor="let type of keys(player.inventory)">
          <td ><img class="inv-icon" src="/assets/img/icons/{{ type }}.png"></td>
          <td>
            <h3>{{ player.inventory[type].name }}</h3>
            <p *ngIf="player.inventory[type].value">Increases your {{ player.inventory[type].modifier }} by {{ player.inventory[type].value }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
