.health-bar {
  position: relative;
  margin: auto;
  padding: 2px;
  height: 30px;
  width: 80%;
  background-color: #212121;

  .health {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, green, darkgreen);
    transition: width 0.4s;
  }

  h4 {
    font-weight: 400;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.battle-stats {
  display: flex;
  min-height: 30px;
  width: 80%;
  margin: auto;

  .battle-stat {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;

    img {
      max-width: 25px;
    }

    span {
      font-size: 0.8em;
    }

    p {
      position: absolute;
      top: -25px;
      left: 0;
      transform: translateX(-50%);
      width: max-content;
      display: none;
      background-color: white;
      border: 1px solid grey;
    }
  }

  .battle-stat:hover p {
    display: block;
  }
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}