.store-icon {
  width: 25px;
}

.item-table-container {
  overflow: auto;
  max-height: 350px;

  .item-table {  
    width: 100%;

    td, th {
      padding: 4px;
      font-size: 0.8em;
    }

    td:nth-child(3),
    td:nth-child(5),
    td:last-child {
      text-align: center;
    }
  }
}

@media screen and (max-width: 1250px) {
  
}