<div class="ui-view">
  <h1>Item Store</h1>

  <div class="ui-view-content">
    <p class="store-log">{{ storeLog }}</p>
    <div class="store-stats">
      <img class="store-icon" src="assets/img/icons/gold.png"><span>{{ player.gold }}</span>	
    </div>
    <div class="item-table-container">
      <table class="item-table">
        <thead>
          <tr>
            <th (click)="sortAbilities('name')">Name</th>
            <th (click)="sortAbilities('modifier')">Effect</th>
            <th (click)="sortAbilities('type')">Type</th>
            <th>Requires</th>
            <th (click)="sortAbilities('price')">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="item" *ngFor="let item of items">
            <td>{{ item.name }}</td>
            <td>Increases {{ item.modifier }} by {{ item.value }}</td>
            <td><img class="store-icon" src="assets/img/icons/{{ item.type }}.png" alt="Inventory icon"></td>
            <td>
              <p *ngFor="let req of keys(item.requirements)">{{ item.requirements[req] }} {{ req }}</p>
            </td>
            <td>{{ item.price }}</td>
            <td><button class="btn" type="button" (click)="buyItem(item)">Buy</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ui-view-controls">
    <button class="btn" type="button" (click)="back()">&#x2B05;</button>
    <button class="btn" type="button" disabled>&#x27A1;</button>
  </div>
</div>
