@import '~src/variables';

.store-icon {
  width: 25px;
}  

.store-stats {
  position: absolute;
  top: 10px;
  right: 10px;
}

.store-log {
  margin: 8px 0;
}

.item-table-container {
  overflow: auto;
  max-height: 350px;

  .item-table {  
    width: 100%;

    td, th {
      padding: 4px;
      font-size: 0.8em;
    }

    td:nth-child(3),
    td:nth-child(5),
    td:last-child {
      text-align: center;
    }

    td:first-child {
      font-weight: 700;
    }

    td:nth-child(4) {
      color: $primary-color;
    }

    td:nth-child(5) {
      font-weight: 700;
      color: $secondary-color;
    }
  }
}

@media screen and (max-height: 840px) {
  .item-table-container {
    max-height: 300px;
  }
}

@media screen and (max-height: 700px) {
  .item-table-container {
    max-height: 240px;
  }
}