@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Open+Sans');

$primary-color: #8e1717;
$secondary-color: #421d1d;
$tertiary-color: #000;

$cursive-font: 'Cinzel', serif;
$regular-font: 'Open Sans', sans-serif;