<div class="modal" [@slideinout]>
  <h1>You have died...</h1>
  <p>You reached level <strong>{{ player.level }}</strong> with total experience of <strong>{{ player.experience }}</strong>. After defeating <strong>{{ player.kills }}</strong> enemies you were eventually slain by a <strong>{{ enemy.name }}</strong></p>

  <table>
    <thead>
      <tr>
        <th colspan="3">Ranking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ rank.rank }}</td>
        <td>{{ rank.name }}</td>
        <td>{{ rank.img }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn" type="button" (click)="reset()">Play Again</button>
</div>
